<!DOCTYPE html>
<html>
<head>
	<title>s g i n u p</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>註 冊</h1>
	<form action = "/trysginup" method = "post">
		<p><input type = "text" placeholder="name"     name = "name"     required></p>
		<p><input type = "text" placeholder="birthday" name = "birthday" required></p>
		<p><input type = "text" placeholder="sex"      name = "sex"      required></p>
		<p><input type = "text" placeholder="email"    name = "email"    required></p>
	    <p><input type = "text" placeholder="user"     name = "user"     required></p>
	    <p><input type = "text" placeholder="password" name = "password" required></p>
	    <p><input type = "submit"/></p>
	</form>
</body>
</html>