body{
	margin: 0;
	padding: 0;
	background-color: #F2E4DC
}



#message{
	float: right;
	margin-right: 5%;
}

#right {
	margin-left: 5%;
	margin-bottom: 200px;
}

.contact_form{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5em 0.6em;
	line-height: 1.15;
	width: 500px;
	margin-bottom: 100px;
}

.form_control{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5em 0.6em;
	line-height: 1.15;
	width: 400px;
}